:root{
    --secondary : #143D60;
    --three : #23486A;
    --four : #16404D;
    --five: #2E5077;
    --seven: #2A3663;
    --prime : #FCC737;
    --since: #3E5879;
    --greenfad: #356c7e;

}

.content{
    height: 100vh !important;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.greenfad{
    font-weight: bold;
    color: var(--greenfad);
}
header, .footer-card{
    display: none;

}
a.lien-home{
    text-decoration: none;
    color: var(--greenfad);
    font-weight: 600;
}

a.lien-home:hover{
    color: black;
}

.container{
    background-color: red;
}